.modern-pageWrap {
    
    --modPrimary:#9579d1 ;
    --modSecondary: #a9e0ff;
    --modTertiary: #be9ddf;
    --modAccent: #ffa5d8;
    --modText: #004a57;
}

.modern-headWrap {
    color: var(--modText);
}


.modern-collDescription::before {
    top: -2px;
    left: -2px;
    border-top: 3px solid var(--modTertiary) ;
    border-left: 3px solid var(--modTertiary) ;
}

.modern-collDescription::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 3px solid var(--modTertiary);
    border-right: 3px solid var(--modTertiary);
}

.modern-collSubTitle {
    border: 0px;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, var(--modPrimary) 0%, var(--modAccent) 50%, var(--modPrimary) 100%);
    border-image-slice: 1;
}

.modern-cardsWrap {
    border-image: 
    linear-gradient(
    to bottom, 
    var(--modPrimary),
    var(--modSecondary)
    ) 1 100%;
}

.modern-backBtn {
    color: var(--modText)
}

.modern-backBtn:hover {
    color: var(--modAccent);
    background-color:var(--modText);   
}

.modern-blurb::before {
    top: -2px;
    left: -2px;
    border-top: 3px solid var(--modAccent) ;
    border-left: 3px solid var(--modAccent) ;
}

.modern-blurb::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 3px solid var(--modAccent);
    border-right: 3px solid var(--modAccent);
}

.modern-cardCartBtn {
    background: var(--modTertiary);
    color: var(--modText);
}

.modern-cardCartBtn:hover {
    background-color:var(--modSecondary); 
    color: var(--modPrimary);
}

/* unused styles
.modern-cardWrap {

}

.modern-cardImage{

}

.modern-detailsWrap {

}

.modern-cardTitle {

}

.modern-blurb {

}

.modern-category {

}

.modern-price {

} */