.modern-pageWrap {
    
    --modPrimary:#9579d1 ;
    --modSecondary: #7eb8da;
    --modTertiary: #be9ddf;
    --modAccent: #ffa5d8;
    --modBackground: #92ddea;
}

.modern-headWrap {
    color: var(--modSecondary);
}


.modern-collDescription::before {
    top: -2px;
    left: -2px;
    border-top: 3px solid var(--modTertiary) ;
    border-left: 3px solid var(--modTertiary) ;
}

.modern-collDescription::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 3px solid var(--modTertiary);
    border-right: 3px solid var(--modTertiary);
}

.modern-collSubTitle{
    border: 0px;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, var(--modBackground) 0%, var(--modAccent) 50%, var(--modBackground) 100%);
    border-image-slice: 1;
}

.modern-cardsWrap {
    border-image: 
    linear-gradient(
    to bottom, 
    var(--modTertiary), 
    var(--modBackground)
    ) 1 100%;
}

.modern-backBtn{
    color: var(--modTertiary)
}

.modern-backBtn:hover{
    color: var(--modBackground);
    background-color:var(--modTertiary);   
}
