
.ardence-pageWrap {
   
    --ardPrimary:#fec300 ;
    --ardSecondary: #006dc7;
    --ardTertiary: #d2e4ed;
    --ardAccent: #fdc2ca;
    --ardText: #fd6326;
    /*  */
}

.ardence-headWrap {
    color: var(--ardText);
}


.ardence-collDescription::before {
    top: -2px;
    left: -2px;
    border-top: 3px solid var(--ardSecondary) ;
    border-left: 3px solid var(--ardSecondary) ;
}

.ardence-collDescription::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 3px solid var(--ardSecondary);
    border-right: 3px solid var(--ardSecondary);
}

.ardence-collSubTitle{
    border: 0px;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, var(--ardPrimary) 0%, var(--ardAccent) 50%, var(--ardPrimary) 100%);
    border-image-slice: 1;
}

.ardence-cardsWrap {
    border-image: 
    linear-gradient(
    to bottom, 
    var(--ardTertiary), 
    var(--ardSecondary)
    ) 1 100%;
}

.ardence-backBtn{
    color: var(--ardText)
}

.ardence-backBtn:hover{
    color: var(--ardTertiary);
    background-color:var(--ardText);   
}

.ardence-cardWrap {

}

.ardence-cardImage{

}

.ardence-detailsWrap {

}

.ardence-cardTitle {

}

.ardence-blurb {

}

.ardence-blurb::before {
    top: -2px;
    left: -2px;
    border-top: 3px solid var(--ardAccent) ;
    border-left: 3px solid var(--ardAccent) ;
}

.ardence-blurb::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 3px solid var(--ardAccent);
    border-right: 3px solid var(--ardAccent);
}

.ardence-category {

}

.ardence-price {

}


