.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background-color: var(--primarycolorFaded);
  z-index: 3;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  z-index: 4;
  background-color: var(--mainGrey);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(-100%);
  white-space: nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
}

.showMenu {
  transform: translateX(0);
  width: 100%;
}

.transparentBcg {
  visibility: visible;
}

.menu-overlay-hide {
  visibility: hidden;
}

.menu-overlay-show {
  visibility: visible;
}

.close-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}

.menu-links, .coll-options {
  display: flex;
  flex-direction: column;
  color: var(--primaryColor);
  font-size: large;
  align-items: center;
}

.menu-links {
  margin-top: 3rem;
}

h2 {
  color: var(--mainBlack);
  margin: 3rem 0 1rem 0;
  
}

.menu-link { 
  color: var(--mainBlack); 
}

.menu-link, .coll-link {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  transition: var(--mainTransition);
}

.coll-link:last-of-type {
  color: var(--mainBlack);
}

.coll-link:last-of-type > svg {
  color: var(--primaryColor);
}

.menu-header, .menu-links, .coll-options, h2 {
  text-align: center;
}

.menu-caret, .coll-caret {
  height: 0;
}


/* desktop */

@media screen and (min-width: 768px) {
  .menu {
    width: 30vw;
    min-width: 450px;
  }

  .close-menu > svg:hover{
    color:var(--primaryColor);
  }
  
  .menu-header, .menu-links, .coll-options, h2 {
    text-align: left;
    align-items: unset;
  }

  .menu-link, .coll-link {
    text-indent: 1rem;
  }

  .menu-link:hover, .coll-link:hover{
    text-indent: 2rem;
  }

  .menu-caret {
    transition: var(--mainTransition);
  }

  .menu-link:hover > .menu-caret {
    color: var(--mainBlack);
  }

  .menu-link > svg {
    color: var(--primaryColor);
  }

  .close-menu > svg{
    cursor: pointer;
    transition: var(--mainTransition);
  }

  .coll-link:hover{
    color: var(--mainBlack)
  }

  .menu-link:hover, .coll-link:last-of-type:hover {
    color: var(--primaryColor);
  }
  
  .menu-caret, .coll-caret {
    height: auto;
  }
}