

.collWrap {
    display:flex;
    flex-direction: column;
    margin: 5vh;   
}

.sectionTitle {
    text-transform: capitalize;
    font-size: xxx-large;
    width: 100%;
    background: linear-gradient(to right, transparent, var(--mainGrey) 99%, transparent 100%);
    text-align: left;
    padding: 3vh;
    
}

.prodWrap {
    display:flex;
    margin:2vh;
    flex-wrap: wrap;
    justify-content: center;
}


.collContainer {
    position: relative;
    padding: 2vh;
    max-width: 90vw;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin-bottom: 15vh;

}

.collContainer::before, .collContainer::after {
    display: block;
    content: "";
    width: 40%;
    height: 70%;
    position: absolute;
}

.collContainer::before {
    top: -2px;
    left: -2px;
    border-top: 3px solid var(--primaryColor);
    border-left: 3px solid var(--primaryColor);
    
}

.collContainer::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 3px solid var(--primaryColor);
    border-right: 3px solid var(--primaryColor);
}

.moreBtn {
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:100%;
    margin-top: 7vh;
    background: var(--mainWhite);
    transition: var(--mainTransition);
    padding: 1vh;
    font-size: large;
    border: solid 1px var(--primaryColor);
    cursor:pointer;
    margin-left:auto;
    margin-right:0;
    z-index:1;
    text-decoration:none;
    color: var(--mainBlack)
}

.moreBtn:hover {
    background: var(--primaryColor);
    border: solid 1px var(--mainBlack);
}

.moreBtn > svg {
    color:var(--primaryColor);
    margin-left: 2vh;
    transition: var(--mainTransition);
}

.moreBtn:hover > svg {
    color:var(--mainBlack);
}

.moreBtn > div {
    text-transform: capitalize;
}

.moreBtn > p {
    display:flex;
}