#headWrap {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    margin: 20vh;
}

#headWrap h1{
    
}

#collWrap {
    display:flex;
    flex-direction: column;
    margin: 5vh;
  
}

.sectionTitle {
    text-transform: capitalize;
}

.prodWrap {
    display:flex;
    margin:2vh;
    

}
.collContainer {
    margin:2vh;
    max-width: 70vw;
    overflow:hidden;

}