/* executive */
body{
    --execPrimary:#780001;
    --execSecondary: #4a0001;
    --execTertiary: #cf0600;
    --execAccent: #ff8901;
    --execBackground: #fffdbf;
}
/* modern */
body {
    --modPrimary:#9579d1 ;
    --modSecondary: #7eb8da;
    --modTertiary: #be9ddf;
    --modAccent: #ffa5d8;
    --modBackground: #92ddea;
}

/* ardence */
body{
    --ardPrimary:#fd6326 ;
    --ardSecondary: #c2ccd4;
    --ardTertiary: #d2e4ed;
    --ardAccent: #fdc2ca;
    --ardBackground: #fec300;
}

/* ascendance */
body{
    --ascPrimary:#3a1202 ;
    --ascSecondary: #c2ccd4;
    --ascTertiary: #8c8b79;
    --ascAccent: #1db7cf;
    --ascBackground: #7aa667;
}