
.ascendance-pageWrap {
    
    --ascPrimary:#3a1202 ;
    --ascSecondary: #c2ccd4;
    --ascTertiary: #8c8b79;
    --ascAccent: #1db7cf;
    --ascText: #215f07;
}

.ascendance-headWrap {
    color: var(--ascText);
}


.ascendance-collDescription::before {
    top: -2px;
    left: -2px;
    border-top: 3px solid var(--ascTertiary) ;
    border-left: 3px solid var(--ascTertiary) ;
}

.ascendance-collDescription::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 3px solid var(--ascTertiary);
    border-right: 3px solid var(--ascTertiary);
}

.ascendance-collSubTitle{
    border: 0px;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, var(--ascText) 0%, var(--ascAccent) 50%, var(--ascText) 100%);
    border-image-slice: 1;
}

.ascendance-cardsWrap {
    border-image: 
    linear-gradient(
    to bottom, 
    var(--ascTertiary), 
    var(--ascText)
    ) 1 100%;
}

.ascendance-backBtn{
    color: var(--ascText)
}

.ascendance-backBtn:hover{
    color: var(--ascAccent);
    background-color:var(--ascText);   
}

.ascendance-cardWrap {

}

.ascendance-cardImage{

}

.ascendance-detailsWrap {

}

.ascendance-cardTitle {

}

.ascendance-blurb {

}

.ascendance-blurb::before {
    top: -2px;
    left: -2px;
    border-top: 3px solid var(--ascAccent) ;
    border-left: 3px solid var(--ascAccent) ;
}

.ascendance-blurb::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 3px solid var(--ascAccent);
    border-right: 3px solid var(--ascAccent);
}

.ascendance-category {

}

.ascendance-price {

}

