
.ascendance-pageWrap {
    
    --ascPrimary:#3a1202 ;
    --ascSecondary: #c2ccd4;
    --ascTertiary: #8c8b79;
    --ascAccent: #1db7cf;
    --ascBackground: #7aa667;
}

.ascendance-headWrap {
    color: var(--ascSecondary);
}


.ascendance-collDescription::before {
    top: -2px;
    left: -2px;
    border-top: 3px solid var(--ascTertiary) ;
    border-left: 3px solid var(--ascTertiary) ;
}

.ascendance-collDescription::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 3px solid var(--ascTertiary);
    border-right: 3px solid var(--ascTertiary);
}

.ascendance-collSubTitle{
    border: 0px;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, var(--ascBackground) 0%, var(--ascAccent) 50%, var(--ascBackground) 100%);
    border-image-slice: 1;
}

.ascendance-cardsWrap {
    border-image: 
    linear-gradient(
    to bottom, 
    var(--ascTertiary), 
    var(--ascBackground)
    ) 1 100%;
}

.ascendance-backBtn{
    color: var(--ascTertiary)
}

.ascendance-backBtn:hover{
    color: var(--ascBackground);
    background-color:var(--ascTertiary);   
}
