
.executive-pageWrap {
    
    --execPrimary:#780001;
    --execSecondary: #4a0001;
    --execTertiary: #cf0600;
    --execAccent: #ff8901;
    --execBackground: #fff700;
}

.executive-headWrap {
    color: var(--execSecondary);
}


.executive-collDescription::before {
    top: -2px;
    left: -2px;
    border-top: 3px solid var(--execTertiary) ;
    border-left: 3px solid var(--execTertiary) ;
}

.executive-collDescription::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 3px solid var(--execTertiary);
    border-right: 3px solid var(--execTertiary);
}

.executive-collSubTitle{
    border: 0px;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, var(--execBackground) 0%, var(--execAccent) 50%, var(--execBackground) 100%);
    border-image-slice: 1;
}

.executive-cardsWrap {
    border-image: 
    linear-gradient(
    to bottom, 
    var(--execTertiary), 
    var(--execBackground)
    ) 1 100%;
}

.executive-backBtn{
    color: var(--execAccent)
}

.executive-backBtn:hover{
    color: var(--execBackground);
    background-color:var(--execAccent);   
}

