
.executive-pageWrap {  
    --execPrimary:#780001;
    --execSecondary: #4a0001;
    --execTertiary: #cf0600;
    --execAccent: #ff8901;
    --execText: #fff700;
}

.executive-headWrap {
    color: var(--execSecondary);
}


.executive-collDescription::before {
    top: -2px;
    left: -2px;
    border-top: 3px solid var(--execTertiary) ;
    border-left: 3px solid var(--execTertiary) ;
}

.executive-collDescription::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 3px solid var(--execTertiary);
    border-right: 3px solid var(--execTertiary);
}

.executive-collSubTitle{
    border: 0px;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, var(--execText) 0%, var(--execAccent) 50%, var(--execText) 100%);
    border-image-slice: 1;
}

.executive-cardsWrap {
    border-image: 
    linear-gradient(
    to bottom, 
    var(--execTertiary), 
    var(--execText)
    ) 1 100%;
}

.executive-backBtn{
    color: var(--execAccent)
}

.executive-backBtn:hover{
    color: var(--execText);
    background-color:var(--execAccent);   
}

.executive-blurb::before {
    top: -2px;
    left: -2px;
    border-top: 3px solid var(--execAccent) ;
    border-left: 3px solid var(--execAccent) ;
}

.executive-blurb::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 3px solid var(--execAccent);
    border-right: 3px solid var(--execAccent);
}

.executive-cardCartBtn {
    background: var(--execSecondary);
    color: var(--execAccent);
}

.executive-cardCartBtn:hover {
    color: var(--execText);
    background-color:var(--execTertiary); 
}

/* unused styles */
/* .executive-cardWrap {

}

.executive-cardImage{

}

.executive-detailsWrap {

}

.executive-cardTitle {

}

.executive-blurb {

} */

/* .executive-category {

}

.executive-price {

} */