[class^="hero-"]{
  min-height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero-home {
  background: url("./home.jpg") center/cover no-repeat;
}

.hero-collections {
  background: url("./collections.jpeg") center/cover no-repeat;
}

.hero-all {
  background: url("./all.jpeg") center/cover no-repeat;
}

.banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  width: 90%;
  height: auto;
  padding: .5rem;
}

.banner-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  width: 100%;
  margin: 1rem 0;
  padding: .5rem;

}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
  text-decoration: none;
  margin: 1rem 0;

}



/* ------- desktop ------- */
@media screen and (min-width: 768px) {
  .banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
  }

  .banner-title {
    font-size: 4.5rem;
  }

  .banner {
    width: 70%;

  }
}