section {
    display:flex;
    flex-direction: column;
    margin: 3vh;
    max-width:90vw;
}


[class^="head-"]{
    font-size: xxx-large;
    text-transform: capitalize;
    width:100%;
    margin-right: auto;
    margin-left:3vh;
    padding:3vh;
    background: linear-gradient(to right, transparent, var(--mainGrey) 99%, transparent 100%);

}

[class^="desc-"]{
    font-size: large;
    text-align: right;
    max-width: 75vw;
    margin:3vh;
    margin-left:auto;
    line-height: 200%;
}